<h1>Create New Vibe</h1>
<%= form_with model: @vibe, local: true do |form| %>
  <div class="form-group">
    <%= form.label :caption, "Description" %>
    <%= form.text_field :caption, class: "form-control", placeholder: "Write something about your video..." %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :video, "Upload Video (Max: 1080x1920, 30 seconds)" %>
    <%= form.file_field :video, class: "form-control" %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit "Create Vibe", class: "btn btn-primary" %>
  </div>
<% end %>