<div class="container mt-4">
  <h1>Haber Akışı</h1>
  <% @movements.each do |movement| %>
    <div class="card mb-3">
      <div class="card-body">
        <p><strong><%= movement.user.username %>:</strong> <%= movement.content %></p>
        <% if movement.image.present? %>
          <img src="<%= movement.image.url %>" class="img-fluid" alt="Post Resmi">
        <% end %>

        <div class="mt-2">
          <% if movement.likes.exists?(user_id: current_user.id) %>
            <%= button_to "Beğeniyi Kaldır", movement_like_path(movement, movement.likes.find_by(user: current_user)), method: :delete, class: "btn btn-sm btn-danger" %>
          <% else %>
            <%= button_to "Beğen", movement_likes_path(movement), method: :post, class: "btn btn-sm btn-outline-primary" %>
          <% end %>
          <span class="ms-2"><%= pluralize(movement.likes.count, "beğeni") %></span>
        </div>
      </div>
    </div>

<% end %>
</div>
