<div class="container mt-4">
  <h1>Haber Akışı</h1>
  <% @movements.each do |movement| %>
    <div class="card mb-3">
      <div class="card-body">
        <p><strong><%= movement.user.username %>:</strong> <%= movement.content %></p>
        <% if movement.image.present? %>
          <img src="<%= movement.image.url %>" class="img-fluid" alt="Post Resmi">
        <% end %>
        <div class="mt-2">
          <%= link_to "Beğen", "#", class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Yorum Yap", "#", class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>

<% end %>
</div>
