<div class="intro">
  <h1 class="logo-header">
    <%= image_tag "logo.png", class: "logo", alt: "" %>
    <span class="logo"><h1 style="font-size: 75px;">Soon</h1></span>
  </h1>
</div>

<header>
  <div class="container" id="login-page-container">
    <div class="row">
      <div class="col order-sm-last order-md-first d-flex flex-column">
        <h1 style="font-weight: 200;text-align: left;margin-bottom: 36.5px;">Join us today!</h1>
        <%= button_to new_user_registration_path, method: :get, class: 'btn btn-primary btn-size-l', id: 'btn-create-account', style: "margin-bottom: 18.2px;" do %>
          Create Account
        <% end %>
        <div class="login-seperator" style="margin-bottom: 10px;">
          <hr class="login-hr">
          <p>OR</p>
          <hr class="login-hr">
        </div>
        <button class="btn btn-secondary btn-size-l btn-login-logo" type="button" style="margin-bottom: 18.2px;">
          <i class="icon-social-google" style="font-size: 25px;height: 28px;"></i>
          <strong>Sign up with Google</strong>
        </button>
        <button class="btn btn-secondary btn-size-l btn-login-logo" type="button" style="margin-bottom: 18.2px;">
          <i class="icon ion-social-apple" style="font-size: 40px;"></i>
          <strong>Sign up with Apple</strong></button>
        <p class="login-desc" style="margin-bottom: 65.2px;">By signing up, you agree to the <%= link_to "Terms of Service", terms_of_service_path %>&nbsp;and <%= link_to "Privacy Policy", privacy_policy_path %>&nbsp;including <%= link_to "Cookie Use", cookies_policy_path %>.</p>
        <h1 style="font-weight: 200;text-align: left;font-size: 16px;margin-bottom: 13.5px;">Already have an account</h1>
        <%= button_to new_user_session_path, method: :get, class: 'btn btn-primary btn-size-l', id: 'btn-sign-in' do %>
          Sign in
        <% end %>

      </div>
      <div class="col order-first order-sm-first order-md-last d-flex align-items-center" id="login-col-2">
        <h1>Soon</h1>
      </div>
    </div>
  </div>
</header>
<%= stylesheet_link_tag "splash" %>
<%= javascript_include_tag 'splash' %>