<% if @current_user.present? %>
  <div class="chat-user">
    <%= turbo_stream_from "user_#{@current_user.id}_messages" %>
    <%= link_to private_chat_chats_path(other_user_id: user.id), class: "chat-user-link" do %>
      <div class="chat-user-avatar">
        <% if user.profile&.avatar&.attached? %>
          <%= image_tag user.profile.avatar %>
        <% else %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
      <div class="chat-user-info">
        <div class="chat-user-header">
          <div class="chat-user-name">
            <% if user.profile %>
              <%= user.profile.name %> <%= user.profile.surname %>
            <% else %>
              <%= user.username %>
            <% end %>
          </div>
          <div class="chat-user-time">
            <% if user.profile&.last_seen_at %>
              <% time_diff = Time.current - user.profile.last_seen_at %>
              <% if time_diff < 2.minutes %>
                <span class="text-success">çevrimiçi</span>
              <% else %>
                <%= time_ago_in_words(user.profile.last_seen_at) %> önce
              <% end %>
            <% else %>
              <span class="text-success">çevrimiçi</span>
            <% end %>
          </div>
        </div>
        <div class="chat-user-status" id="user_<%= user.id %>_last_message">
          <%= render "users/last_message", user: user, current_user: @current_user %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="user-item">
    <%= user.username %>
  </div>
<% end %>

