<% provide(:title, "Edit Email") %>
<h1>Edit Email</h1>

<%= form_with(model: @user, url: update_email_user_path(@user), local: true, html: { class: "user-form" }) do |form| %>
  <%= render 'layouts/shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :password, "Confirm Password" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Email", class: "btn btn-primary" %>
  </div>
<% end %>