<% provide(:title, "Edit Password") %>
<h1>Edit Password</h1>

<%= form_with(model: @user, url: update_password_user_path(@user), local: true, html: { class: "user-form" }) do |form| %>
  <%= render 'layouts/shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :current_password, "Current Password" %>
    <%= form.password_field :current_password, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirm New Password" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>