<% provide(:title, "Edit Username") %>
<h1>Edit Username</h1>

<%= form_with(model: @user, url: update_username_user_path(@user), local: true, html: { class: "user-form" }) do |form| %>
  <%= render 'layouts/shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :password, "Confirm Password" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Username", class: "btn btn-primary" %>
  </div>
<% end %>