<% provide(:title, "Register") %>
<h1>Register</h1>

<%= form_with(model: @user, local: true, html: { class: "user-form" }) do |form| %>
  <%= render 'layouts/shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control", id: "user_username", maxlength: 16 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control", id: "user_email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select([['Male', 'male'], ['Female', 'female']]), {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Register", class: "btn btn-primary" %>
  </div>
<% end %>