<% provide(:title, @user.username) %>
<h1><%= @user.username %>'s Profile</h1>

<%= link_to "Edit Profile", edit_user_path(@user.username), class: "btn btn-primary" %>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Surname:</strong> <%= @user.surname %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Birthday:</strong> <%= @user.birthday %></p>
<p><strong>Gender:</strong> <%= @user.gender %></p>
<p><strong>Bio:</strong> <%= @user.bio %></p>
<p><strong>Avatar URL:</strong> <%= @user.avatar_url %></p>
<p><strong>Location:</strong> <%= @user.location %></p>

<%= link_to "Back", root_path, class: "btn btn-secondary" %>