<% if @user.present? %>
  <%= provide(:title, @user.username) %>
  <h1><%= @user.username %>'s Profile</h1>

  <% if user_signed_in? && current_user == @user %>
    <%= link_to "Edit User Settings", edit_user_path(@user.username), class: "btn btn-primary" %>
    <%= link_to "Edit Profile", edit_profile_path(@user.username), class: "btn btn-primary" %>
  <% end %>

  <p><strong>Username:</strong> <%= @user.username %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>

  <% if @user.profile.present? %>
    <p><strong>Name:</strong> <%= @user.profile.name %></p>
    <p><strong>Surname:</strong> <%= @user.profile.surname %></p>
    <p><strong>Birthday:</strong> <%= @user.profile.birthday %></p>
    <p><strong>Gender:</strong> <%= @user.profile.gender %></p>
    <p><strong>Bio:</strong> <%= @user.profile.bio %></p>
    <p><strong>Avatar URL:</strong> <%= @user.profile.avatar_url %></p>
    <p><strong>Location:</strong> <%= @user.profile.location %></p>
  <% else %>
    <p>No profile information available.</p>
  <% end %>

  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following.include?(@user) %>
      <%= button_to 'Takipten Çık', unfollow_user_path(@user), method: :delete, class: "btn btn-warning" %>
    <% else %>
      <%= button_to 'Takip Et', follow_user_path(@user), method: :post, class: "btn btn-success" %>
    <% end %>
  <% end %>

  <h2>Takip Edilen Kullanıcılar:</h2>
  <ul>
    <% @user.following.each do |followed| %>
      <li><%= link_to followed.username, user_path(followed.username) %></li>
    <% end %>
  </ul>

  <h2>Takipçiler:</h2>
  <ul>
    <% @user.followers.each do |follower| %>
      <li><%= link_to follower.username, user_path(follower.username) %></li>
    <% end %>
  </ul>

  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
<% else %>
  <p>User not found.</p>
<% end %>
