<div class="row">
  <div class="col-md-2">
    <h5> Hi <%= @current_user.username %> </h5>
    <h4> Users </h4>
    <div>
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>
    <h4> Chats </h4>
    <div>
      <%= turbo_stream_from "chats" %>
      <div id="chats">
        <%= render @chats %>
      </div>
    </div>
    <%= render partial: "form" %>
  </div>
  <div class="col-md-10 bg-dark text-light">
    <% if @focus_chat %>
      <h4 class="text-center"> <%= @user&.username || @focus_chat.name %> </h4>
      <%= turbo_stream_from @focus_chat %>
      <div id="messages">
        <%= render @messages %>
      </div>
      <%= render partial: 'messages/form', locals: { message: @message } %>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
</div>